.form-horizontal .form-group {
  margin: 0 !important;
  margin-bottom: 15px !important;
}
.form-horizontal .control-label {
  padding: 0 !important;
}
.form-horizontal .control-label span {
  color: red;
}
.btn-primary {
  color: #ffffff;
  background: linear-gradient(#fabb54, #f67c27) !important;
  border-color: #fabb54 !important;
  /* background: linear-gradient(); */
}
